body {
    width: 100%;
    background-image: url("./authentication/rome.jpg");

    /* background-color: #8b0000; */
    /* background-color:rgb(0, 0, 0, 0.8); */
    /* background-color: #000; */
    /* background-position: center; */
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    /* padding-top: 100px; */
    /* padding-bottom: 200px; */
}

/* width */
::-webkit-scrollbar {
    width: 100px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }