body {
    width: 100%;
    background-image: url("./authentication/rome.jpg");

    /* background-color: #8b0000; */
    /* background-color:rgb(0, 0, 0, 0.8); */
    /* background-color: #000; */
    /* background-position: center; */
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    /* padding-top: 100px; */
    /* padding-bottom: 200px; */
}